#contenedor-componente {
    background: white;
    padding: 10px 20px 40px 20px;
}

#contenedor-seccion-info-contenedor {
    line-height: 1.2;
    font-size: 1.1em;
}

#contenedor-seccion-header {
    background: black;
    padding: 10px 20px 10px 20px;
    color: white;
    align-items: center;
}