.panel-opciones-predefinidas {
    padding: 15px 30px !important;
}

.col-separador-derecha {
    border-right: .4px solid rgb(221, 221, 221);
}

#opciones-predefinidas-form-contenedor {
    margin-top: 40px;
}

#opciones-predefinidas-tabla-contenedor {
    margin-top: 40px;
}
#mensaje-opciones-predefinidas {
    padding: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1.2;
    color: lightgray;
}

